<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="message">
      <h2 data-cy="messageDetailsHeading"><span jhiTranslate="forumApp.message.detail.title">Message</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ message.id }}</span>
        </dd>
        <dt><span jhiTranslate="forumApp.message.subject">Subject</span></dt>
        <dd>
          <span>{{ message.subject }}</span>
        </dd>
        <dt><span jhiTranslate="forumApp.message.content">Content</span></dt>
        <dd>
          <span>{{ message.content }}</span>
        </dd>
        <dt><span jhiTranslate="forumApp.message.postDate">Post Date</span></dt>
        <dd>
          <span>{{ message.postDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="forumApp.message.topic">Topic</span></dt>
        <dd>
          <div *ngIf="message.topic">
            <a [routerLink]="['/topic', message.topic.id, 'view']">{{ message.topic.titre }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="forumApp.message.user">User</span></dt>
        <dd>
          <span>{{ message.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="forumApp.message.message">Message</span></dt>
        <dd>
          <div *ngIf="message.message">
            <a [routerLink]="['/message', message.message.id, 'view']">{{ message.message.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/message', message.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
